@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
    font-family: 'Lato', sans-serif;
}
#topbar {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
}
#headertext {
    text-align: right;
}

#logo {
    padding-top: 10px;
}
#mainpic {
    padding: 20px 0 30px 0;
    width: 100%;
}
#bottomrow {
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    color: gray;
}
.smlpic {
    width: 100%;
    border-radius: 15px;
    border: solid 3px;
    cursor: pointer;
}

.smlpic, .smlicon {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
 
}

.smlpic:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.smlicon:hover, 
.smlicon:focus, 
.smlicon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.links,
.links:hover,
.links:visited,
.links:link,
.links:active {
    font-size: 16px;
    color: lightgray;
    text-decoration: none;
}
#featured {
   
    font-size: 36px;
    margin: 0 0 -25px 0;
}
.titles {
    margin-bottom: -5px;
}
ul li {
    display: inline;
    font-size: 4em;
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}
.about h1, #featured h1 {
    text-align: center;
    margin: .75em 0;  
}
.about {
    background:
      linear-gradient(
      rgba(153, 204, 255, 0.8), 
      rgba(153, 204, 255, 0.8)
    ),
    
    url(https://unsplash.it/1903/341);
    font-family: 'Lato', sans-serif;
  

}
.aboutme{
    position: relative;
    font-size: 24px;
    margin-bottom: 2em;        
    padding: 15px 25px;
    text-indent: 4em;
    background-color: rgba(255, 255, 255, 0.5);
    left: 1550px;
    max-width:1120px;
}

.font{
    font-family: 'Lato', sans-serif;
 
}

.contact {
    text-align: center;
}
.contact h1 {
    margin: 1em 0 .5em 1em;
}

section.contact {
     background:
      linear-gradient(
      rgba(153, 204, 255, 0.8), 
      rgba(153, 204, 255, 0.8)
    ),
    
    url(https://unsplash.it/1903/184);
}
@media screen and (max-width: 994px) {
    #topbar,
    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #headertext,
    #featured {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #mainpic {
        display: none;
    }
    .links {
        padding-bottom: 20px;
    }
    ul li {
        font-size: 3em;
    }
}
@media screen and (min-width: 994px) {
    .spacing {
        padding-bottom: 50px;
    }
}
.modalfooter {
    font-size: 16px;
    text-align: left;
}
.modalpic {
    border-radius: 5px;
    border: solid 2px;
    margin: 7px 0;
    max-width: 100%;
}
.linkstylenone,
.linkstylenone:hover,
.linkstylenone:visited,
.linkstylenone:link,
.linkstylenone:active {
    text-decoration: none;
    color: #333;
}